@function em($t, $c: 16px) {
	@return $t / $c * 1em;
}

@mixin user-select-disable() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}